@using Microsoft.AspNetCore.Mvc.Localization
@using GoNorth.Models.FlexFieldDatabaseModels

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Kortisto"];
}

<div id="gn-kortistoOverviewContainer">
    <h2>@ViewData["Title"] <span data-bind="text: currentFolderNameDisplay"></span></h2>

    @await Html.PartialAsync("~/Views/FlexFieldDatabase/Overview.cshtml", new OverviewViewModel { Localizer = Localizer, HasTemplatePermissions = User.IsInRole(RoleNames.KortistoTemplateManager), ObjectIcon = "glyphicon-user", ControllerName = "Kortisto", ApiControllerName = "KortistoApi" })
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha384-Dziy8F2VlJQLMShA6FHWNul/veM9bCkRUaLqr199K94ntO5QUrLJBEbYegdSkkqX" crossorigin="anonymous" asp-fallback-test="jQuery.ui" asp-fallback-src="~/lib/jquery-ui/jquery-ui.min.js"></script>

    <script src="~/lib/dropzone/dist/min/dropzone.min.js"></script>
    <script src="~/js/Localization/dropzone.locales.@(Localizer["DropzoneLocale"]).js"></script>

    <environment include="Development">
        <script src="~/js/Kortisto/overview.viewmodel.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Kortisto/overview.viewmodel.min.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            ko.applyBindings(new GoNorth.Kortisto.Overview.ViewModel(), jQuery("#gn-kortistoOverviewContainer")[0]);
        });
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/lib/dropzone/dist/min/dropzone.min.css" />
}