@using Microsoft.AspNetCore.Mvc.Localization

@model ErrorViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Error"];
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">@Localizer["ErrorOccurred"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}