@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["ForgotPasswordConfirmation"];
}

<h2>@ViewData["Title"]</h2>
<p>
    @Localizer["PleaseCheckEmails"]
</p>
