@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["ResetPasswordConfirmation"];
}

<h2>@ViewData["Title"]</h2>
<p>
    @Localizer["YourPasswordHasBeenReset"] <a asp-action="Login">@Localizer["ClickHereToLogin"]</a>
</p>
