@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["SignedOut"];
}

<h2>@ViewData["Title"]</h2>
<p id="gn-signedOut">
    @Localizer["SuccessfullySignedOut"]
</p>
