@using Microsoft.AspNetCore.Mvc.Localization
@using GoNorth.Models.FlexFieldDatabaseModels

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Styr"];
}

<div id="gn-styrOverviewContainer">
    <h2>@ViewData["Title"] <span data-bind="text: currentFolderNameDisplay"></span></h2>

    @await Html.PartialAsync("~/Views/FlexFieldDatabase/Overview.cshtml", new OverviewViewModel { Localizer = @Localizer, HasTemplatePermissions = User.IsInRole(RoleNames.StyrTemplateManager), ObjectIcon = "glyphicon-apple", ControllerName = "Styr", ApiControllerName = "StyrApi" })
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous" asp-fallback-test="jQuery.ui" asp-fallback-src="~/lib/jquery-ui/jquery-ui.min.js"></script>

    <script src="~/lib/dropzone/dist/min/dropzone.min.js"></script>
    <script src="~/js/Localization/dropzone.locales.@(Localizer["DropzoneLocale"]).js"></script>

    <environment include="Development">
        <script src="~/js/Styr/overview.viewmodel.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Styr/overview.viewmodel.min.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            ko.applyBindings(new GoNorth.Styr.Overview.ViewModel(), jQuery("#gn-styrOverviewContainer")[0]);
        });
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/lib/dropzone/dist/min/dropzone.min.css" />
}