@using GoNorth.Views.Manage
@using GoNorth.Data.User
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject SignInManager<GoNorthUser> SignInManager

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">@Localizer["Profile"]</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">@Localizer["Password"]</a></li>
</ul>

